@tailwind base;
@tailwind components;
@tailwind utilities;



/* Define fonts */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('../assets/fonts/Roboto-Italic.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../assets/fonts/Roboto-Black.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    src: url('../assets/fonts/Roboto-BlackItalic.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url('../assets/fonts/Roboto-BoldItalic.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../assets/fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url('../assets/fonts/Roboto-LightItaclic.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: url('../assets/fonts/Roboto-MediumItalic.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('../assets/fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    src: url('../assets/fonts/Roboto-ThinItalic.ttf');
}

/* General Styles */

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

h1 {
    @apply font-bold text-dark xl:text-5xl sm:text-4xl text-3xl mb-4;
}

h2 {
    @apply font-bold text-grey xl:text-3xl sm:text-2xl text-xl;
}

h3 {
    @apply font-bold text-white xl:text-2xl sm:text-xl text-lg;
}

p, a {
    @apply text-grey xl:text-xl text-lg;
}

a:not(.btn), .a-tag {
    @apply text-secondary hover:text-tirtiary transition-all duration-500;
}

@property --bgCol1 {
    syntax: '<color>';
    initial-value: #919090;
    inherits: false;
}

@property --bgCol2 {
    syntax: '<color>';
    initial-value: #4D4C4C;
    inherits: false;
}

.divider {
    @apply h-0.5 w-full bg-dark rounded-full my-4;
}

.btn {
    @apply px-6 py-4 xl:py-5 flex gap-2 justify-center min-w-max items-center text-white font-bold rounded-xl xl:text-xl text-base hover:text-tirtiary;
    
    --bgCol1: #919090;
    --bgCol2: #4D4C4C;
    box-shadow: 0px 0px 10px #0000007C;
    background: rgb(2,0,36);
    background: radial-gradient(ellipse at 50% -30px, var(--bgCol1) 0%, var(--bgCol2) 76%);
    transition: --bgCol1 0.5s, --bgCol2 0.5s, color 0.5s, box-shadow 0.5s;
}

.btn:hover {
    box-shadow: 0px 0px 10px #7aa8acce;
    --bgCol1: #4D4C4C;
    --bgCol2: #7c7c7c;
}

.smaller-btn {
    @apply text-lg py-2.5 px-4;
}

.btn.alt {
    @apply py-3 px-7;
}

#menu .btn {
    @apply justify-start;
}

#menu .btn.active {
    @apply md:w-[calc(100%_+50px)] ;
}


.border-btn {
    @apply px-4 py-2 border-white border-solid border-8 text-base;
}

.simple-border-btn {
    @apply px-8 py-3;
    box-shadow: inset 0px 0px 3px 3px #00000071, inset 0px 0px 0px 4px #ffffff;
}

.alt-border-btn {
    @apply px-8 py-3;
    box-shadow: inset 0px 0px 3px 3px #00000071, inset 0px 0px 0px 4px #77DFFF;
}

.btn.has-icon:not(.border-btn) {
    @apply py-1 pl-2 gap-3;
}

.btn svg {
    @apply h-7 aspect-square p-0.5 fill-white transition-all duration-500;
}

.btn.has-icon:not(.border-btn) svg {
    @apply h-12 xl:h-[3.75rem];
}

.border-btn:not(.no-circle) svg {
    @apply border-[3px] border-solid border-white rounded-full;
}

.btn:hover svg {
    @apply fill-tirtiary border-tirtiary;
}

.btn-small {
    @apply px-4 py-1.5 font-semibold text-base rounded-lg bg-blue-500 !text-white transition-all duration-500 hover:!text-dark hover:bg-tirtiary shadow-md shadow-dark hover:shadow-secondary/50;
}

/* Table Styles */
table {
    @apply w-full text-sm lg:text-base text-left rtl:text-right;
}

table thead {
    @apply text-dark border-light-grey border bg-blue-200;
}

table thead th {
    @apply text-start lg:px-6 sm:px-4 px-2 py-3;
}

table tbody {
    @apply bg-gray-50;
}

table tbody tr {
    @apply border-light-grey border;
}

table tbody tr td {
    @apply lg:px-6 sm:px-4 px-2 py-2;
}

table tbody tr td:last-of-type {
    @apply w-0;
}

td .status-indicator {
    @apply h-4 w-4 aspect-square rounded-full bg-red-500;
}

td .status-indicator.active {
    @apply bg-green-500;
}

td .instrument-table-controls {
    @apply flex gap-2.5 items-center;
}

td .instrument-table-controls svg  {
    @apply h-7;
}

.table-button {
    @apply transition-all duration-500 hover:scale-110;
}

/* Loading button */
.trigger-loading.loading {
    @apply cursor-not-allowed !bg-grey !text-red-300 hover:scale-100;
}

.trigger-loading .loading-spinner {
    @apply hidden;
}

.trigger-loading.loading .loading-spinner {
    @apply block;
}

body, main {
    @apply bg-primary flex grow flex-col font-roboto items-center fixed justify-center h-svh w-full;
}

form {
    @apply max-w-lg md:max-w-2xl self-center w-full flex flex-col items-center gap-4;
}

.form-error {
    @apply text-center text-base -mt-2.5 -mb-1 text-red-500;
}

.form-fields {
    @apply flex flex-wrap flex-col md:flex-row items-center justify-center gap-4 w-full;
}

.field {
    @apply grow flex flex-col w-full md:w-auto justify-center items-center;
}

label:not(.toggle) {
    @apply text-base text-grey self-start pl-3;
}

.form-fields .input-wrapper {
    @apply transition-all duration-500 w-full flex justify-center bg-white text-dark rounded-full px-4 py-2 border-light border-solid border items-center gap-2.5 md:gap-3;
}

#login .form-fields .input-wrapper {
    @apply max-w-xs;
}

.form-fields .input-wrapper > input, select {
    @apply bg-transparent border-transparent w-full focus:outline-none;
}

.input-wrapper.disabled {
    @apply cursor-not-allowed bg-blue-200;
}

.input-wrapper.disabled select {
    @apply pointer-events-none text-dark;
}

.form-fields .input-wrapper > svg {
    @apply transition-all duration-500 h-7 md:h-8 fill-grey;
}

.form-fields .input-wrapper:not(.disabled):hover,
.form-fields .input-wrapper:focus-within {
    @apply border-secondary scale-105;
}
.form-fields .input-wrapper:hover > svg,
.form-fields .input-wrapper:focus-within > svg {
    @apply fill-secondary scale-105;
}

.input-wrapper.select-wrapper {
    @apply !px-2 md:px-4;
}

.tooltip {
    @apply relative inline-block;
}

.tooltip::before {
    @apply absolute bg-dark rounded-lg pointer-events-none text-white px-4 py-1 whitespace-nowrap z-10 bottom-[90%] left-1/2 -translate-x-1/2 opacity-0 transition-all duration-500;
    content: attr(title);    
}

.tooltip:hover::before {
    @apply opacity-100 bottom-full;
}

.checkbox-wrapper input[type="checkbox"] {
    visibility: hidden;
    display: none;
}
.checkbox-wrapper .toggle {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
    transition: 0.3s;
}
.checkbox-wrapper .toggle:before {
    content: "";
    position: relative;
    top: 3px;
    left: 3px;
    width: 34px;
    height: 14px;
    display: block;
    background: #9a9999;
    border-radius: 8px;
    transition: background 0.2s;
}

.checkbox-wrapper .toggle:hover {
    @apply scale-110;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.checkbox-wrapper .toggle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: block;
    background: #b1b1b1;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
    transition: 0.2s;
}
.gametype-card,
.index-alerts-wrapper a:not(.no-new-alerts) {
    transition: 0.3s linear;
}
.checkbox-wrapper .toggle span:before {
    content: "";
    position: absolute;
    display: block;
    margin: -18px;
    width: 56px;
    height: 56px;
    background: rgba(46, 220, 98, 0.5);
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    pointer-events: none;
}
.checkbox-wrapper .tgl:checked + .toggle:before {
    background: #7ada84;
}

.checkbox-wrapper .tgl:disabled + .toggle {
    cursor: not-allowed;
}

.checkbox-wrapper .tgl:disabled + .toggle:before {
    background: #c68f8f;
}

.checkbox-wrapper .tgl:disabled + .toggle span {
    background: #cb3f3f!important;
}

.checkbox-wrapper .tgl:checked + .toggle span {
    background: #03b500;
    transform: translateX(20px);
    transition: 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s;
    box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}
.checkbox-wrapper .tgl:not(:disabled):checked + .toggle span:before {
    transform: scale(1);
    opacity: 0;
    transition: 0.4s;
}

.radial-gradient {
    --bgCol1: #919090;
    --bgCol2: #4D4C4C;
    box-shadow:  inset 0px 0px 0px 4px #777777, 0px 0px 20px #5F5F5F, inset 0px 0px 20px #000000;
    background: rgb(2,0,36);
    background: radial-gradient(ellipse at 50% -30px, var(--bgCol1) 0%, var(--bgCol2) 76%);
}

#settingsBackLink {
    @apply absolute top-3.5 flex justify-center items-center !text-white pl-1 py-1 gap-1 right-4 rounded-full bg-[#434655] transition-all duration-500 overflow-hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#settingsMenu {
    @apply z-40;
}

#settingsMenu.active {
    @apply w-full sm:w-64;
}

#settingsMobileMenuIcon.active #openSettingsMenu {
    @apply scale-0;
}

#settingsMobileMenuIcon.active #closeSettingsMenu {
    @apply scale-100;
}

#settingsMobileMenuIcon.active {
    @apply translate-x-[calc(100vw-6rem)];
}

#settingsBackLink svg {
    @apply w-8 h-auto fill-white transition-all duration-500;
}

#settingsBackLink:hover svg {
    @apply -rotate-180;
}

#settingsBackLink span {
    @apply opacity-0 transition-all duration-500 max-w-0 whitespace-nowrap pl-0;
}

#settingsBackLink:hover span {
    @apply opacity-100 max-w-16 pl-1;
}

#settingsBackLink:hover {
    @apply pr-4 bg-blue-800;
}

#settingsMenu .menu-item {
    @apply bg-dark text-white hover:bg-blue-200 hover:text-black flex items-center p-4 basis-16;
}

#settingsMenu .menu-item.active {
    @apply bg-blue-200 text-black;
}

/* Menu Styles */
#desktopMenuWrapper { 
    @apply shrink-0 py-8 -my-2 md:block relative hidden -mr-4 rounded-xl;
}

#desktopMenu {
    @apply h-full w-full pl-6 pt-2 rounded-xl pr-12 overflow-y-scroll overflow-x-hidden;
}

#mobileMenu {
    @apply transition-all duration-300 fixed left-0 top-0 z-50 bg-blue-900/40 backdrop-blur-xl md:hidden opacity-0 pointer-events-none w-full h-full flex flex-col justify-center items-center px-4 xs:px-16 sm:px-20 py-12;
}

#mobileMenu.active {
    @apply !opacity-100 !pointer-events-auto;
}

.menu-brush {
    @apply w-[calc(100%_+50px)] h-2.5 absolute from-transparent to-primary;
}

#menu {
    @apply min-w-[200px] flex w-full grow h-full overflow-y-scroll md:overflow-y-visible flex-col gap-2.5 p-4 md:p-0 items-stretch;
}

/* Footer Styles */
#footerWrapper { 
    @apply w-full bg-dark py-2.5 border border-solid border-light-grey;
    box-shadow: inset 0px 0px 6px #000000, 0px 0px 10px #000000ac;
}
#footerWrapper .footer-icon {
    @apply h-9 w-auto cursor-pointer;
}

#menuIcon {
    @apply !h-10;
}

#footerWrapper .footer-icon svg {
    @apply w-auto h-full transition-all fill-white duration-500 px-3;
}

#footerWrapper .footer-icon:hover svg {
    @apply scale-105;
}

#logoutModal {
    @apply fixed flex flex-col items-center justify-between p-8 xl:p-12 pointer-events-none translate-y-[150%] transition-all duration-500 w-full max-w-[30rem] h-full max-h-[30rem] bottom-0 left-1/2 -translate-x-1/2 radial-gradient z-50 rounded-xl;
}

#logoutModal.active {
    @apply pointer-events-auto translate-y-4 opacity-100;
}

/* Page layout */
#contentOuterWrapper:not(.settings-wrapper) {
    @apply overflow-y-scroll z-10 p-4 flex justify-center min-w-full md:min-w-[550px];
}

#contentOuterWrapper.show-menu:not(.settings-wrapper) {
    @apply md:-ml-4 w-full;
}

#contentWrapper:not(.settings-wrapper) {
    @apply p-8 xl:p-12 bg-primary-dark rounded-xl h-full shadow-[0px_0px_10px_#5F5F5F] w-full overflow-y-scroll flex flex-col gap-2;
}

#contentOuterWrapper.settings-wrapper, #contentWrapper.settings-wrapper {
    @apply w-full h-full;
} 

section {
    @apply mb-8;
}

/* Notices and Generic Section Layouts */
section.notice {
    @apply px-6 py-4 rounded-xl bg-blue-200 flex flex-col md:flex-row items-start lg:items-center gap-1 md:gap-3;
}

section.notice p {
    @apply text-base md:text-lg;
}

section.notice svg {
    @apply w-8 h-auto shrink-0 py-1 fill-dark;
}

section p a {
    @apply !text-blue-800 hover:!text-green-800;
}


#updateAlert {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #1e1e1e;
    justify-content: center;
    align-items: center;
    padding: 18px;
    color: #fff;
    z-index: 99999;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
#updateAlert h2 {
    color: #fff !important;
    font-size: 28px;
    font-weight: 700;
}
#updateAlert h2,
#updateAlert p {
    margin-bottom: 0;
    margin-top: 4px;
    color: white;
}
#updateAlert p {
    font-size: 19px;
}
#updateAlert .response-code {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    margin-top: 20px;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000;
}

/* Settings Page */
#settings {
    @apply w-full h-full p-4 md:p-8 flex flex-col bg-black/75;
}

#settingsWrapper {
    @apply bg-primary-dark rounded-2xl h-full shadow-2xl shadow-blue-200/50 flex relative justify-between overflow-hidden;
}

#limsOptions {
    @apply max-h-0 opacity-0 transition-all duration-500 pointer-events-none;
}

#limsOptions.active {
    @apply max-h-[30rem] opacity-100 pointer-events-auto;
}

/* Changelog overrides */
#changelog h3 {
    @apply mb-2 text-dark text-xl underline;
}

#changelog p {
    @apply mb-3 text-base;
}

#changelog h4 {
    @apply text-base text-grey uppercase -mt-2 font-extrabold;
}

ul {
    @apply mb-9 relative text-dark px-6 py-4 rounded-lg bg-white;
}

ul::after {
    @apply absolute -bottom-3 left-0 w-full h-0.5 bg-dark rounded-full;
    content: "";
}

ul li {
    @apply list-disc ml-3;
}

/* Loader */
.loadingspinner {
    --square: 26px;
    --offset: 30px;
    --duration: 2.4s;
    --delay: 0.2s;
    --timing-function: ease-in-out;
    --in-duration: 0.4s;
    --in-delay: 0.1s;
    --in-timing-function: ease-out;
    width: calc(3 * var(--offset) + var(--square));
    height: calc(2 * var(--offset) + var(--square));
    padding: 0;
    margin: 10px auto 30px;
    position: relative;
}
.loadingspinner div {
    display: inline-block;
    background: #E3FFEC;
    border: none;
    border-radius: 2px;
    width: var(--square);
    height: var(--square);
    position: absolute;
    padding: 0;
    margin: 10px 0 0;
    font-size: 6pt;
    color: #000;
}
.loadingspinner #square1 {
    left: calc(0 * var(--offset));
    top: calc(0 * var(--offset));
    animation: square1 var(--duration) var(--delay) var(--timing-function) infinite, squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
}
.loadingspinner #square2 {
    left: calc(0 * var(--offset));
    top: calc(1 * var(--offset));
    animation: square2 var(--duration) var(--delay) var(--timing-function) infinite, squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
}
.loadingspinner #square3 {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
    animation: square3 var(--duration) var(--delay) var(--timing-function) infinite, squarefadein var(--in-duration) calc(2 * var(--in-delay)) var(--in-timing-function) both;
}
.loadingspinner #square4 {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
    animation: square4 var(--duration) var(--delay) var(--timing-function) infinite, squarefadein var(--in-duration) calc(3 * var(--in-delay)) var(--in-timing-function) both;
}
.loadingspinner #square5 {
    left: calc(3 * var(--offset));
    top: calc(1 * var(--offset));
    animation: square5 var(--duration) var(--delay) var(--timing-function) infinite, squarefadein var(--in-duration) calc(4 * var(--in-delay)) var(--in-timing-function) both;
}
@keyframes square1 {
    0% {
        left: calc(0 * var(--offset));
        top: calc(0 * var(--offset));
    }
    100%,
    8.333% {
        left: calc(0 * var(--offset));
        top: calc(1 * var(--offset));
    }
}
@keyframes square2 {
    0% {
        left: calc(0 * var(--offset));
        top: calc(1 * var(--offset));
    }
    8.333% {
        left: calc(0 * var(--offset));
        top: calc(2 * var(--offset));
    }
    16.67% {
        left: calc(1 * var(--offset));
        top: calc(2 * var(--offset));
    }
    25.00%,
    83.33% {
        left: calc(1 * var(--offset));
        top: calc(1 * var(--offset));
    }
    91.67% {
        left: calc(1 * var(--offset));
        top: calc(0 * var(--offset));
    }
    100% {
        left: calc(0 * var(--offset));
        top: calc(0 * var(--offset));
    }
}
@keyframes square3 {
    0%,
    100%,
    16.67%,
    91.67% {
        left: calc(1 * var(--offset));
        top: calc(1 * var(--offset));
    }
    25.00% {
        left: calc(1 * var(--offset));
        top: calc(0 * var(--offset));
    }
    33.33% {
        left: calc(2 * var(--offset));
        top: calc(0 * var(--offset));
    }
    41.67%,
    66.67% {
        left: calc(2 * var(--offset));
        top: calc(1 * var(--offset));
    }
    75.00% {
        left: calc(2 * var(--offset));
        top: calc(2 * var(--offset));
    }
    83.33% {
        left: calc(1 * var(--offset));
        top: calc(2 * var(--offset));
    }
}
@keyframes square4 {
    0%,
    33.33% {
        left: calc(2 * var(--offset));
        top: calc(1 * var(--offset));
    }
    41.67% {
        left: calc(2 * var(--offset));
        top: calc(2 * var(--offset));
    }
    50.00% {
        left: calc(3 * var(--offset));
        top: calc(2 * var(--offset));
    }
    100%,
    58.33% {
        left: calc(3 * var(--offset));
        top: calc(1 * var(--offset));
    }
}
@keyframes square5 {
    0%,
    50.00% {
        left: calc(3 * var(--offset));
        top: calc(1 * var(--offset));
    }
    58.33% {
        left: calc(3 * var(--offset));
        top: calc(0 * var(--offset));
    }
    66.67% {
        left: calc(2 * var(--offset));
        top: calc(0 * var(--offset));
    }
    100%,
    75.00% {
        left: calc(2 * var(--offset));
        top: calc(1 * var(--offset));
    }
}
@keyframes squarefadein {
    0% {
        transform: scale(0.75);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}