@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define fonts */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('../assets/fonts/Roboto-Italic.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../assets/fonts/Roboto-Black.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    src: url('../assets/fonts/Roboto-BlackItalic.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url('../assets/fonts/Roboto-BoldItalic.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../assets/fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url('../assets/fonts/Roboto-LightItaclic.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: url('../assets/fonts/Roboto-MediumItalic.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('../assets/fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    src: url('../assets/fonts/Roboto-ThinItalic.ttf');
}

/* General Styles */

/* Hide scrollbar for Chrome, Safari and Opera */
*:not(.result-details)::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
*:not(.result-details) {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.result-details::-webkit-scrollbar-track {
    @apply rounded-r-xl;
	background-color: #CCCCCC;
}

.result-details::-webkit-scrollbar {
    @apply rounded-r-full;
	width: 18px;
	background-color: #F5F5F5;
}

.result-details::-webkit-scrollbar-thumb {
    @apply rounded-r-xl;
	background-color: #FFF;
	background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#4D9C41), to(#199181), color-stop(.6,#54DE5D))
}

h1 {
    @apply font-bold text-dark xl:text-5xl sm:text-4xl text-3xl mb-4;
}

h2 {
    @apply font-bold text-grey xl:text-3xl sm:text-2xl text-xl;
}

h3 {
    @apply font-bold text-white xl:text-2xl sm:text-xl text-lg;
}

p, a {
    @apply text-grey xl:text-xl text-lg;
}

a:not(.btn), .a-tag {
    @apply text-secondary hover:text-tirtiary transition-all duration-500;
}

a.ignore-default {
    @apply text-sm sm:text-base text-dark hover:text-dark;
}

@property --bgCol1 {
    syntax: '<color>';
    initial-value: #919090;
    inherits: false;
}

@property --bgCol2 {
    syntax: '<color>';
    initial-value: #4D4C4C;
    inherits: false;
}

.divider {
    @apply h-0.5 w-full bg-dark rounded-full my-4;
}

.btn {
    @apply px-6 py-4 xl:py-5 flex gap-2 justify-center min-w-max items-center text-white font-bold rounded-xl xl:text-xl text-base hover:text-tirtiary;
    
    --bgCol1: #919090;
    --bgCol2: #4D4C4C;
    box-shadow: 0px 0px 10px #0000007C;
    background: rgb(2,0,36);
    background: radial-gradient(ellipse at 50% -30px, var(--bgCol1) 0%, var(--bgCol2) 76%);
    transition: --bgCol1 0.5s, --bgCol2 0.5s, color 0.5s, box-shadow 0.5s;
}

.btn:hover {
    box-shadow: 0px 0px 10px #7aa8acce;
    --bgCol1: #4D4C4C;
    --bgCol2: #7c7c7c;
}

.smaller-btn {
    @apply text-lg py-2.5 px-4;
}

.btn.alt {
    @apply py-3 px-7;
}

.btn svg {
    @apply pointer-events-none;
}

.btn.deactivate {
    @apply bg-gradient-to-r from-red-500 to-red-700 hover:text-white transition-all duration-500 hover:opacity-80 hover:scale-95 hover:shadow-lg hover:shadow-dark;
}

.btn.activate {
    @apply bg-gradient-to-r from-green-500 to-green-700 hover:text-white transition-all duration-500 hover:opacity-80 hover:scale-95 hover:shadow-lg hover:shadow-dark;
}

#menu .btn {
    @apply justify-start;
}

#menu .btn.active {
    @apply md:w-[calc(100%_+50px)] ;
}


.border-btn {
    @apply px-4 py-2 border-white border-solid border-8 text-base;
}

.simple-border-btn {
    @apply px-8 py-3;
    box-shadow: inset 0px 0px 3px 3px #00000071, inset 0px 0px 0px 4px #ffffff;
}

.alt-border-btn {
    @apply px-8 py-3;
    box-shadow: inset 0px 0px 3px 3px #00000071, inset 0px 0px 0px 4px #77DFFF;
}

.btn.has-icon:not(.border-btn) {
    @apply py-1 pl-2 gap-3;
}

.btn svg {
    @apply h-7 aspect-square p-0.5 fill-white transition-all duration-500;
}

.btn.has-icon:not(.border-btn) svg {
    @apply h-12 xl:h-[3.75rem];
}

.border-btn:not(.no-circle) svg {
    @apply border-[3px] border-solid border-white rounded-full;
}

.btn:hover svg {
    @apply fill-tirtiary border-tirtiary;
}

.btn-small {
    @apply px-4 py-1.5 font-semibold text-base rounded-lg bg-blue-500 !text-white transition-all duration-500 hover:!text-dark hover:bg-tirtiary shadow-md shadow-dark hover:shadow-secondary/50;
}

/* Table Styles */
table {
    @apply w-full text-left rtl:text-right border-separate border-spacing-y-1 border-spacing-x-0 table;
}

table thead {
    @apply text-dark border-light-grey border bg-blue-200;
}

table thead th {
    @apply text-start;
}

table tbody {
    @apply bg-gray-50;
}

table > thead > tr,
table:not(.result-explosion):not(.lot-explosion) tbody > tr {
    @apply shadow-md shadow-dark/75 rounded-lg sm:px-6 transition-all;
}

table > thead > tr > th:first-of-type,
table tbody > tr > th:first-of-type,
table > thead > tr td:first-of-type,
table tbody > tr td:first-of-type {
    @apply rounded-l-lg pl-4 sm:pl-5;
}

table > thead > tr > th:last-of-type,
table tbody > tr > th:last-of-type,
table > thead > tr td:last-of-type,
table tbody > tr td:last-of-type {
    @apply rounded-r-lg border-hidden pr-4 sm:pr-5;
}

table.result-explosion > thead > tr td:first-of-type,
table.result-explosion tbody > tr td:first-of-type {
    @apply rounded-l-md;
}

table.result-explosion > thead > tr td:last-of-type,
table.result-explosion tbody > tr td:last-of-type {
    @apply rounded-r-md font-normal;
}

table > thead > tr > th,
table tbody > tr > th,
table > thead > tr > td,
table tbody > tr > td {
    @apply py-4 px-1.5 sm:px-2.5 xl:px-3 leading-none align-middle text-sm sm:text-base font-bold;
}

table:not(.result-explosion):not(.lot-explosion) tbody tr {
    @apply border-light-grey border cursor-pointer shadow-lg transition-all duration-500 hover:bg-tirtiary/20 text-grey hover:text-black hover:shadow-tirtiary/20;
}

.status-indicator {
    @apply h-4 w-4 aspect-square align-middle rounded-full bg-red-500;
}

.status-indicator.active {
    @apply bg-green-500;
}

.status-indicator.pending {
    @apply bg-amber-500;
}

td .table-controls {
    @apply flex gap-2.5 items-center justify-end;
}

td .table-controls form {
    @apply flex flex-row items-center justify-end;
}

td .table-controls svg  {
    @apply h-6;
}

td.active {
    @apply text-red-500;
}

.result-details .canvas-wrapper {
    @apply min-h-[400px] overflow-scroll;
}

.result-details .canvas-wrapper, .result-details .error {
    @apply p-2 md:p-4 bg-white rounded-xl shadow-xl;
}

.result-details .error p {
    @apply text-center font-bold;
}

td.end form {
    @apply items-center w-auto gap-2.5;
}

table.result-explosion, table.lot-explosion {
    @apply border-spacing-0.5 mb-4;
}

table.result-explosion tr, table.lot-explosion tr {
    @apply bg-dark text-white;
}

table.result-explosion tr td:first-of-type, table.lot-explosion tr td:first-of-type {
    @apply font-extrabold;
}

table.result-explosion td, table.lot-explosion td {
    @apply py-2;
}

td .details {
    @apply !hidden xs:!block relative h-5 w-auto transition-all duration-500 hover:scale-110;
}

td .details svg {
    @apply h-5 fill-dark;
}

.result-details.alert, .lot-details.alert {
    @apply text-red-500;
}

.table-button {
    @apply transition-all duration-500 hover:scale-110;
}

.table-button svg {
    @apply pointer-events-none;
}

#instrumentModalWrapper, #userModalWrapper, #genericModalWrapper, #filterModalWrapper {
    @apply fixed left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 pointer-events-none;
}

#instrumentModalWrapper .instrument-modal .close-instrument-modal, #userModalWrapper .user-modal .close-user-modal:not(.no-styles), .generic-modal .close-modal:not(.no-styles) {
    @apply w-8 h-8 cursor-pointer absolute top-4 right-4 transition-all duration-500 hover:scale-110;
}

#instrumentModalWrapper .instrument-modal .close-instrument-modal svg, #userModalWrapper .user-modal .close-user-modal svg, .generic-modal .close-modal svg {
    @apply pointer-events-none;
}

#instrumentModalWrapper::before, #userModalWrapper::before, #genericModalWrapper::before, #filterModalWrapper::before {
    @apply fixed w-[100vw] h-[100svh] left-0 backdrop-blur-md bg-dark/50 top-0 -translate-y-1/2 -translate-x-1/2 opacity-0 pointer-events-none transition-all duration-500;
    content: "";
}

#instrumentModalWrapper:has(.active)::before, #userModalWrapper:has(.active)::before, #genericModalWrapper:has(.active)::before, #filterModalWrapper:has(.active)::before {
    @apply opacity-100 pointer-events-auto;
}

#instrumentModalWrapper .instrument-modal, #userModalWrapper .user-modal, .generic-modal {
    @apply fixed top-1/2 flex flex-col gap-2 left-1/2 -translate-x-1/2 -translate-y-1/2 pointer-events-none scale-75 opacity-0 p-8 rounded-lg bg-gray-100 shadow-xl transition-all duration-500 w-[clamp(20rem,40rem,90vw)] max-h-[100svh] overflow-scroll;
}

#instrumentModalWrapper .instrument-modal.active, #userModalWrapper .user-modal.active, .generic-modal.active {
    @apply pointer-events-auto scale-100 opacity-100;
}

tr.instrument.lost {
    @apply bg-gray-200;
}

tr.instrument.lost td {
    @apply text-light-grey
}

tr.instrument.lost td .status-indicator {
    @apply bg-grey;
}

#genericModalWrapper {
    z-index: 9999;
}

#pagination {
    @apply w-full mt-2 flex flex-row justify-center items-center gap-1;
}

#pagination a {
    @apply flex justify-center items-center bg-dark text-white border-white border-2 rounded-md px-3 py-1 shadow-lg transition-all duration-500 hover:scale-105;
}

#pagination a.active {
    @apply bg-blue-200 text-dark pointer-events-none;
}

#pagination a.disabled {
    @apply bg-grey/50 cursor-not-allowed;
}

#pagination .inner-pagination:not(.active) {
    @apply hidden xs:block;
}

.vanilla-calendar {
    @apply !left-1/2 !top-1/2 !bottom-auto !right-auto -translate-x-1/2 -translate-y-1/2 max-h-[90vh] max-w-[90vw] overflow-scroll !mt-0;
}

.vanilla-calendar-grid {
    @apply sm:!flex-nowrap;
}

/* Loading button */
.trigger-loading.loading {
    @apply cursor-not-allowed !bg-grey !text-red-300 hover:scale-100;
}

.trigger-loading .loading-spinner {
    @apply hidden;
}

.trigger-loading.loading .loading-spinner {
    @apply block;
}

body, main {
    @apply bg-primary flex grow flex-col font-roboto items-center fixed justify-center h-svh w-full;
}

body.show-menu, body.show-menu main {
    @apply bg-primary-dark md:bg-primary;
}

form {
    @apply max-w-lg md:max-w-2xl self-center w-full flex flex-col items-center gap-4;
}

.form-error {
    @apply text-center text-base text-red-500;
}

.form-fields {
    @apply flex flex-wrap flex-col md:flex-row items-center justify-center gap-4 w-full;
}

.field {
    @apply grow flex flex-col w-full md:w-auto justify-center items-center;
}

label:not(.toggle) {
    @apply text-base text-grey self-start pl-3;
}

.form-fields .input-wrapper {
    @apply transition-all duration-500 w-full flex justify-center bg-white text-dark rounded-full px-4 py-2 border-light border-solid border items-center gap-2.5 md:gap-3;
}

.form-fields .input-wrapper.select-wrapper {
    @apply py-0;
}

.form-fields .input-wrapper.select-wrapper select {
    @apply py-2;
}

.form-fields .input-wrapper.error {
    @apply border-2 !border-red-500 border-dashed;
}

#login .form-fields .input-wrapper {
    @apply max-w-xs;
}

.form-fields .input-wrapper > input, select {
    @apply bg-transparent border-transparent w-full focus:outline-none;
}

.input-wrapper.disabled {
    @apply cursor-not-allowed bg-blue-200;
}

.input-wrapper.disabled select {
    @apply pointer-events-none text-dark;
}

.form-fields .input-wrapper > svg {
    @apply transition-all duration-500 h-7 md:h-8 fill-grey;
}

.form-fields .input-wrapper.error > svg {
    @apply !fill-red-500;
}

.form-fields .input-wrapper:not(.disabled):hover,
.form-fields .input-wrapper:focus-within {
    @apply border-secondary;
}
.form-fields .input-wrapper:hover > svg,
.form-fields .input-wrapper:focus-within > svg {
    @apply fill-secondary scale-105;
}

.tooltip {
    @apply relative inline-block;
}

.tooltip::before {
    @apply absolute bg-dark text-sm rounded-lg pointer-events-none scale-0 text-white px-2.5 py-1 whitespace-nowrap z-10 bottom-[90%] left-1/2 -translate-x-1/2 opacity-0 transition-all duration-300;
    content: attr(title);    
}

.tooltip-alt::before {
    @apply bg-black;
}

.tooltip:hover::before {
    @apply opacity-100 bottom-full scale-90;
}

#limsStatus {
    @apply relative flex justify-center items-center;
}

#limsStatus .icon {
    @apply top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 absolute w-4 h-4 rounded-full bg-amber-500;
}

#limsStatus .icon.animated-icon {
    @apply w-3.5 h-3.5 animate-ping origin-bottom-right;
}

#limsStatus.active .icon {
    @apply bg-green-500;
}

#limsStatus.inactive .icon {
    @apply bg-red-500;
}

#userTimeoutAmount {
    @apply max-h-[0rem] transition-all duration-500 overflow-hidden opacity-0;
}

#userTimeoutAmount.active {
    @apply max-h-[20rem] opacity-100;
}

.checkbox-wrapper input[type="checkbox"] {
    visibility: hidden;
    display: none;
}
.checkbox-wrapper .toggle {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
    transition: 0.3s;
}
.checkbox-wrapper .toggle:before {
    content: "";
    position: relative;
    top: 3px;
    left: 3px;
    width: 34px;
    height: 14px;
    display: block;
    background: #9a9999;
    border-radius: 8px;
    transition: background 0.2s;
}

.checkbox-wrapper .toggle:hover {
    @apply scale-110;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.checkbox-wrapper .toggle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: block;
    background: #b1b1b1;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
    transition: 0.2s;
}
.gametype-card,
.index-alerts-wrapper a:not(.no-new-alerts) {
    transition: 0.3s linear;
}
.checkbox-wrapper .toggle span:before {
    content: "";
    position: absolute;
    display: block;
    margin: -18px;
    width: 56px;
    height: 56px;
    background: rgba(46, 220, 98, 0.5);
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    pointer-events: none;
}
.checkbox-wrapper .tgl:checked + .toggle:before {
    background: #7ada84;
}

.checkbox-wrapper .tgl:disabled + .toggle {
    cursor: not-allowed;
}

.checkbox-wrapper .tgl:disabled + .toggle:before {
    background: #c68f8f;
}

.checkbox-wrapper .tgl:disabled + .toggle span {
    background: #cb3f3f!important;
}

.checkbox-wrapper .tgl:checked + .toggle span {
    background: #03b500;
    transform: translateX(20px);
    transition: 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s;
    box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}
.checkbox-wrapper .tgl:not(:disabled):checked + .toggle span:before {
    transform: scale(1);
    opacity: 0;
    transition: 0.4s;
}

.radial-gradient {
    --bgCol1: #919090;
    --bgCol2: #4D4C4C;
    box-shadow:  inset 0px 0px 0px 4px #777777, 0px 0px 20px #5F5F5F, inset 0px 0px 20px #000000;
    background: rgb(2,0,36);
    background: radial-gradient(ellipse at 50% -30px, var(--bgCol1) 0%, var(--bgCol2) 76%);
}

#settingsBackLink {
    @apply absolute top-3.5 flex justify-center items-center !text-white pl-1 py-1 gap-1 right-4 rounded-full bg-[#434655] transition-all duration-500 overflow-hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#settingsMenu {
    @apply z-40;
}

#settingsMenu.active {
    @apply w-full sm:w-64;
}

#settingsMobileMenuIcon.active #openSettingsMenu {
    @apply scale-0;
}

#settingsMobileMenuIcon.active #closeSettingsMenu {
    @apply scale-100;
}

#settingsMobileMenuIcon.active {
    @apply translate-x-[calc(100vw-6rem)];
}

#settingsBackLink svg {
    @apply w-8 h-auto fill-white transition-all duration-500;
}

#settingsBackLink:hover svg {
    @apply -rotate-180;
}

#settingsBackLink span {
    @apply opacity-0 transition-all duration-500 max-w-0 whitespace-nowrap pl-0;
}

#settingsBackLink:hover span {
    @apply opacity-100 max-w-16 pl-1;
}

#settingsBackLink:hover {
    @apply pr-4 bg-blue-800;
}

#settingsMenu .menu-item {
    @apply bg-dark text-white hover:bg-blue-200 hover:text-black flex items-center p-4 basis-16;
}

#settingsMenu .menu-item.active {
    @apply bg-blue-200 text-black;
}

/* Menu Styles */
#desktopMenuWrapper { 
    @apply shrink-0 py-8 -my-2 md:block relative hidden -mr-4 rounded-xl;
}

#desktopMenu {
    @apply h-full w-full pl-6 pt-2 rounded-xl pr-12 overflow-y-scroll overflow-x-hidden;
}

#mobileMenu {
    @apply transition-all duration-300 fixed left-0 top-0 z-50 bg-blue-900/40 backdrop-blur-xl md:hidden opacity-0 pointer-events-none w-full h-full flex flex-col justify-center items-center px-4 xs:px-16 sm:px-20 pt-16;
}

#mobileMenu.active {
    @apply !opacity-100 !pointer-events-auto;
}

.menu-brush {
    @apply w-[calc(100%_+50px)] h-2.5 absolute from-transparent to-primary;
}

#menu {
    @apply min-w-[200px] flex w-full grow h-full overflow-y-scroll md:overflow-y-visible flex-col gap-2.5 p-4 md:p-0 items-stretch;
}

/* Footer Styles */
#footerWrapper { 
    @apply w-full bg-dark py-2.5 border border-solid border-light-grey;
    box-shadow: inset 0px 0px 6px #000000, 0px 0px 10px #000000ac;
}
#footerWrapper .footer-icon {
    @apply h-9 w-auto cursor-pointer;
}

#menuIcon {
    @apply !h-10;
}

#footerWrapper .footer-icon svg {
    @apply w-auto h-full transition-all fill-white duration-500 px-3;
}

#footerWrapper .footer-icon:hover svg {
    @apply scale-105;
}

#logoutModal {
    @apply fixed flex flex-col items-center justify-between p-8 xl:p-12 pointer-events-none translate-y-[150%] transition-all duration-500 w-full max-w-[30rem] h-full max-h-[30rem] bottom-0 left-1/2 -translate-x-1/2 radial-gradient z-50 rounded-xl;
}

#logoutModal.active {
    @apply pointer-events-auto translate-y-4 opacity-100;
}

/* Page layout */
#contentOuterWrapper:not(.settings-wrapper) {
    @apply overflow-y-scroll z-10 p-4 flex justify-center min-w-full md:min-w-[550px];
}

body.show-menu #contentOuterWrapper:not(.settings-wrapper) {
    @apply p-0 md:p-4;
}

#contentOuterWrapper.show-menu:not(.settings-wrapper) {
    @apply md:-ml-4 w-full;
}

#contentWrapper:not(.settings-wrapper) {
    @apply p-4 xs:p-6 md:p-8 xl:p-12 bg-primary-dark rounded-xl h-full shadow-[0px_0px_10px_#5F5F5F] w-full overflow-y-scroll flex flex-col gap-1 md:gap-2;
}

body.show-menu #contentWrapper:not(.settings-wrapper) {
    @apply rounded-none md:rounded-xl shadow-none md:shadow-[0px_0px_10px_#5F5F5F];
}

#contentOuterWrapper.settings-wrapper, #contentWrapper.settings-wrapper {
    @apply w-full h-full;
} 

.result-modal, .lot-modal {
    @apply fixed transition-all duration-500 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 pointer-events-none z-50 bg-black/50;
}

.result-modal-backdrop, .lot-modal-backdrop {
    @apply fixed opacity-0 backdrop-blur-xl w-screen h-[100svh] top-0 left-0 bg-black/30 -translate-x-1/2 -translate-y-1/2 transition-all duration-500 flex flex-col justify-center items-center;
}

.result-modal.active, .lot-modal.active {
    @apply pointer-events-auto;
}

.result-modal.active .result-modal-backdrop, .lot-modal.active .lot-modal-backdrop {
    @apply opacity-100;
}

.result-modal .result-info, .lot-modal .lot-info {
    @apply basis-[10rem] grow flex flex-col p-4 rounded-md bg-white shadow-xl shadow-dark/30;
}

.result-modal .result-info.pos, .lot-modal .lot-info.neg {
    @apply bg-gradient-to-r from-red-800 to-red-500;
}

.lot-modal .lot-info.pos {
    @apply bg-gradient-to-r from-green-800 to-green-500;
}

.result-modal .result-info.pos h4, .result-modal .result-info.pos p, .lot-modal .lot-info.pos h4, .lot-modal .lot-info.pos p, .lot-modal .lot-info.neg h4, .lot-modal .lot-info.neg p {
    @apply text-white;
}

section {
    @apply mb-4;
}

/* Notices and Generic Section Layouts */
section.notice {
    @apply px-6 py-4 rounded-xl bg-blue-200 flex flex-col md:flex-row items-start lg:items-center gap-1 md:gap-3;
}

section.notice.error {
    @apply bg-red-200;
}

section.notice p, section.notice a {
    @apply text-base md:text-lg;
}

section.notice a {
    @apply font-bold;
}

section.notice svg {
    @apply w-8 h-auto shrink-0 py-1 fill-dark;
}

section p a, a.alt {
    @apply !text-blue-800 hover:!text-green-800;
}

#updateAlert {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #1e1e1e;
    justify-content: center;
    align-items: center;
    padding: 18px;
    color: #fff;
    z-index: 99999;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

#updateAlert h2 {
    color: #fff !important;
    font-size: 28px;
    font-weight: 700;
}

#updateAlert h2,
#updateAlert p {
    margin-bottom: 0;
    margin-top: 4px;
    color: white;
}

#updateAlert p {
    font-size: 19px;
}

#updateAlert .response-code {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    margin-top: 20px;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000;
}

/* Settings Page */
#settings {
    @apply w-full h-full p-4 md:p-8 flex flex-col bg-black/75 overflow-hidden;
}

#settingsWrapper {
    @apply bg-primary-dark rounded-2xl h-full shadow-2xl shadow-blue-200/50 flex relative justify-between overflow-hidden;
}

#hl7Options, #cainOptions {
    @apply max-h-0 opacity-0 transition-all duration-500 pointer-events-none;
}

#hl7Options.active, #cainOptions.active {
    @apply max-h-[30rem] opacity-100 pointer-events-auto;
}

/* Changelog overrides */
#changelog h3 {
    @apply mb-2 text-dark text-xl underline;
}

#changelog p {
    @apply mb-3 text-base;
}

#changelog h4 {
    @apply text-base text-grey uppercase -mt-2 font-extrabold;
}

h4 {
    @apply text-lg xl:text-xl font-bold text-dark;
}

ul.form-errors {
    @apply w-full rounded-lg shadow-dark/30 shadow-md py-4 px-6 border border-solid border-red-500 bg-red-50;
}

ul.form-errors li {
    @apply font-bold text-red-700;
}

/* Notices */
#notices {
    @apply fixed right-0 bottom-0 flex justify-end p-2.5 md:p-4 flex-col-reverse z-50;
}

#notices .notice {
    @apply relative sm:w-[min(20rem,_100vw)] bg-blue-200 cursor-pointer rounded-lg p-3.5 md:p-4 my-1.5;
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
  
#notices .notice.animate-in {
    animation: fadeInRight 0.5s ease-out forwards;
}

#notices .notice.animate-out {
    @apply pointer-events-none;
    animation: fadeOutShrink 0.5s ease-out forwards;
}

#notices .notice p {
    @apply text-dark;
}

#notices .notice.alert {
    @apply bg-red-600;
}

#notices .notice.warn {
    @apply bg-orange-400;
}

#notices .notice.alert p, #notices .notice.warn p {
    @apply text-white;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOutShrink {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        display: none;
        transform: scale(0);
    }
}

/* Generic Grid Table */
.cain-grid {
    @apply grid grid-cols-3 rounded-xl p-2 xl:p-3 w-full grow bg-grey shadow-white/30 shadow-xl mb-4 gap-1 lg:gap-2
}

.cain-grid .cain-grid-item {
    @apply flex items-center gap-3 col-span-2 shadow-white/30 shadow-lg bg-blue-200 rounded-l-lg p-4;
}

.cain-grid-item .grid-title {
    @apply flex flex-col;
}

.cain-grid-item .grid-title h4 {
    @apply underline;
}

.cain-grid-item .grid-title p {
    @apply text-base;
}

.cain-grid-content {
    @apply bg-white shadow-white/30 shadow-lg rounded-r-lg p-4 text-center content-center font-extrabold;
}

/* Calendar styles overrides */
.vanilla-calendar {
    @apply shadow-xl shadow-dark/50;
}

.vanilla-calendar-day_selected-intermediate button {
    @apply !bg-blue-200 !text-dark;
}

/* Loader */
.loadingspinner {
    --square: 26px;
    --offset: 30px;
    --duration: 2.4s;
    --delay: 0.2s;
    --timing-function: ease-in-out;
    --in-duration: 0.4s;
    --in-delay: 0.1s;
    --in-timing-function: ease-out;
    width: calc(3 * var(--offset) + var(--square));
    height: calc(2 * var(--offset) + var(--square));
    padding: 0;
    margin: 10px auto 30px;
    position: relative;
}
.loadingspinner div {
    display: inline-block;
    background: #E3FFEC;
    border: none;
    border-radius: 2px;
    width: var(--square);
    height: var(--square);
    position: absolute;
    padding: 0;
    margin: 10px 0 0;
    font-size: 6pt;
    color: #000;
}
.loadingspinner #square1 {
    left: calc(0 * var(--offset));
    top: calc(0 * var(--offset));
    animation: square1 var(--duration) var(--delay) var(--timing-function) infinite, squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
}
.loadingspinner #square2 {
    left: calc(0 * var(--offset));
    top: calc(1 * var(--offset));
    animation: square2 var(--duration) var(--delay) var(--timing-function) infinite, squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
}
.loadingspinner #square3 {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
    animation: square3 var(--duration) var(--delay) var(--timing-function) infinite, squarefadein var(--in-duration) calc(2 * var(--in-delay)) var(--in-timing-function) both;
}
.loadingspinner #square4 {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
    animation: square4 var(--duration) var(--delay) var(--timing-function) infinite, squarefadein var(--in-duration) calc(3 * var(--in-delay)) var(--in-timing-function) both;
}
.loadingspinner #square5 {
    left: calc(3 * var(--offset));
    top: calc(1 * var(--offset));
    animation: square5 var(--duration) var(--delay) var(--timing-function) infinite, squarefadein var(--in-duration) calc(4 * var(--in-delay)) var(--in-timing-function) both;
}
@keyframes square1 {
    0% {
        left: calc(0 * var(--offset));
        top: calc(0 * var(--offset));
    }
    100%,
    8.333% {
        left: calc(0 * var(--offset));
        top: calc(1 * var(--offset));
    }
}
@keyframes square2 {
    0% {
        left: calc(0 * var(--offset));
        top: calc(1 * var(--offset));
    }
    8.333% {
        left: calc(0 * var(--offset));
        top: calc(2 * var(--offset));
    }
    16.67% {
        left: calc(1 * var(--offset));
        top: calc(2 * var(--offset));
    }
    25.00%,
    83.33% {
        left: calc(1 * var(--offset));
        top: calc(1 * var(--offset));
    }
    91.67% {
        left: calc(1 * var(--offset));
        top: calc(0 * var(--offset));
    }
    100% {
        left: calc(0 * var(--offset));
        top: calc(0 * var(--offset));
    }
}
@keyframes square3 {
    0%,
    100%,
    16.67%,
    91.67% {
        left: calc(1 * var(--offset));
        top: calc(1 * var(--offset));
    }
    25.00% {
        left: calc(1 * var(--offset));
        top: calc(0 * var(--offset));
    }
    33.33% {
        left: calc(2 * var(--offset));
        top: calc(0 * var(--offset));
    }
    41.67%,
    66.67% {
        left: calc(2 * var(--offset));
        top: calc(1 * var(--offset));
    }
    75.00% {
        left: calc(2 * var(--offset));
        top: calc(2 * var(--offset));
    }
    83.33% {
        left: calc(1 * var(--offset));
        top: calc(2 * var(--offset));
    }
}
@keyframes square4 {
    0%,
    33.33% {
        left: calc(2 * var(--offset));
        top: calc(1 * var(--offset));
    }
    41.67% {
        left: calc(2 * var(--offset));
        top: calc(2 * var(--offset));
    }
    50.00% {
        left: calc(3 * var(--offset));
        top: calc(2 * var(--offset));
    }
    100%,
    58.33% {
        left: calc(3 * var(--offset));
        top: calc(1 * var(--offset));
    }
}
@keyframes square5 {
    0%,
    50.00% {
        left: calc(3 * var(--offset));
        top: calc(1 * var(--offset));
    }
    58.33% {
        left: calc(3 * var(--offset));
        top: calc(0 * var(--offset));
    }
    66.67% {
        left: calc(2 * var(--offset));
        top: calc(0 * var(--offset));
    }
    100%,
    75.00% {
        left: calc(2 * var(--offset));
        top: calc(1 * var(--offset));
    }
}
@keyframes squarefadein {
    0% {
        transform: scale(0.75);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}