# Disable directory browsing
Options -Indexes
ErrorDocument 403 /index.php

# Allow access to /phpmyadmin
SetEnvIf Request_URI "^/phpmyadmin/" allow_phpmyadmin

# Block direct access to PHP files globally, except in /phpmyadmin
<FilesMatch "\.php$">
    Order Deny,Allow
    Deny from all
    Allow from env=allow_phpmyadmin
</FilesMatch>

# Allow access to specific PHP files in the views directory
<Files index.php>
    Allow from all
</Files>

# We also need to allow access to the db-update script (as it is accessed via AJAX request)
<Files "db-update.php">
    Allow from all
</Files>

# Allow access to scripts within the /scripts/ directory
<FilesMatch ".*-check.php$">
    Allow from all
</FilesMatch>

# Rewrite URLs to index.php
RewriteEngine On
RewriteBase /

# Skip rewriting for existing files and directories
RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Rewrite all other requests to index.php
RewriteRule ^(.+)$ index.php [QSA,L]
