ACTION=="add", SUBSYSTEM=="block", KERNEL=="sd[a-z][0-9]", RUN{program}+="/etc/udev/rules.d/mount-update.sh $env{DEVNAME}"
ACTION=="remove", SUBSYSTEM=="block", KERNEL=="sd[a-z][0-9]", RUN{program}+="/bin/umount $env{DEVNAME}"

